<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>license-371tti</title>
</head>
<style scoped>
    * {
        background: #000000;
        color: #fff;
    }

    h1 {
        font-size: 6mm;
    }

    .accordion {
        max-width: 100%;
        
    }

    .accordion input[type="checkbox"] {
        display: none;
    }

    .accordion label {
        background-color: #000000;
        text-decoration: underline;
        color: #fff;
        cursor: pointer;
        padding: 10px;
        display: block;

    }

    .accordion-content {
        border: 1px solid #ffffff;
  height: 0;
  opacity: 0;
  padding: 0 10px;
  transition: .5s;
  visibility: hidden;
    }
    .accordion input[type="checkbox"]:checked+label+.accordion-content {
        height: auto;
  opacity: 1;
  padding: 10px;
  visibility: visible;
    }


    ::-webkit-scrollbar {
        width: 12px;
    }


    ::-webkit-scrollbar-track {
        background: #f1f1f172;
    }


    ::-webkit-scrollbar-thumb {
        background: #000000;
        border-radius: 0px;
    }


    ::-webkit-scrollbar-thumb:hover {
        background: #292929;
    }
</style>

<body>
    <h1>371tti-internet-service License ver-1 20.12.2023~
    </h1>
    <p>please click underline text to read.</p>
    <div class="accordion">

        <input type="checkbox" id="accordionA">
        <label for="accordionA">
            <p><strong>1. サイトの著作権 (371tti)</strong></p>
        </label>
        <div class="accordion-content">
            <p>このサイトのデザイン、ロゴ、レイアウト、およびその他の運営に関するコンテンツの著作権は371ttiに帰属しています。また使用しているサイトシステム、webフレームワーク、flaskのライセンスは以下の通りです。
            </p>

            <div class="accordion">
                <input type="checkbox" id="accordionA0">
                <label for="accordionA0">Flask License</label>
                <div class="accordion-content">
                    Flask MIT License
                    Copyright (c) 2015 by Armin Ronacher and contributors. See AUTHORS for more details.

                    Some rights reserved.

                    Redistribution and use in source and binary forms of the software as well as documentation, with or
                    without
                    modification, are permitted provided that the following conditions are met:

                    Redistributions of source code must retain the above copyright notice, this list of conditions and
                    the
                    following
                    disclaimer.
                    Redistributions in binary form must reproduce the above copyright notice, this list of conditions
                    and
                    the following
                    disclaimer in the documentation and/or other materials provided with the distribution.
                    The names of the contributors may not be used to endorse or promote products derived from this
                    software
                    without specific
                    prior written permission.
                    THIS SOFTWARE AND DOCUMENTATION IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS “AS IS” AND
                    ANY
                    EXPRESS OR IMPLIED
                    WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
                    A
                    PARTICULAR
                    PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY
                    DIRECT,
                    INDIRECT,
                    INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT
                    OF
                    SUBSTITUTE GOODS
                    OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
                    THEORY
                    OF LIABILITY,
                    WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY
                    WAY
                    OUT OF THE USE OF
                    THIS SOFTWARE AND DOCUMENTATION, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
                </div>
            </div>
        </div>
    </div>

    <div class="accordion">
        <input type="checkbox" id="accordionB">
        <label for="accordionB">
            <p><strong>2. コンテンツの著作権 (投稿者)</strong></p>
        </label>
        <div class="accordion-content">

            <p>このサイトで掲載されているテキスト、画像、音声、ビデオなどのコンテンツの著作権は各投稿者に帰属しています。</p>
        </div>
    </div>




    <div class="accordion">
        <input type="checkbox" id="accordionC">
        <label for="accordionC">
            <p><strong>3. コンテンツの改変と派生物</strong></p>
        </label>
        <div class="accordion-content">
            <p>コンテンツの改変や派生物の作成は、製作者（投稿者）が指定した範囲内でのみ許可されます。改変や派生物の利用に関する条件については、各コンテンツの個別のライセンスに従う必要があります。</p>
        </div>
    </div>

    <div class="accordion">
        <input type="checkbox" id="accordionD">
        <label for="accordionD">
            <p><strong>4. 再配布と共有</strong></p>
        </label>
        <div class="accordion-content">


            <p>コンテンツの再配布や共有は、各コンテンツの個別のライセンスに従う必要があります。再配布や共有に関する詳細な条件は各コンテンツのライセンス文書に明示されています。</p>
        </div>
    </div>

    <div class="accordion">
        <input type="checkbox" id="accordionE">
        <label for="accordionE">
            <p><strong>5. 免責事項</strong></p>
        </label>
        <div class="accordion-content">
            <p>ライセンスに関する質問や問題がある場合、お問い合わせは以下のページにお問い合わせください。：<a href="/help">開発中のため利用不可</a></p>
        </div>
    </div>

    <div class="accordion">
        <input type="checkbox" id="accordionF">
        <label for="accordionF">
            <p><strong>7. 更新と変更</strong></p>
        </label>
        <div class="accordion-content">

            <p>このライセンス文書が変更された場合、新しいバージョンは本サイト上で提供されるため、定期的に確認してください。</p>
        </div>
    </div>

    <div class="accordion">
        <input type="checkbox" id="accordionG">
        <label for="accordionG">
            <p><strong>6. セッションクッキーの同意</strong></p>
        </label>
        <div class="accordion-content">
            <p>当サイトはセッションクッキーを使用します。このサイトを利用することで、クッキーの使用に同意したものとみなされます。</p>
        </div>
    </div>

    <div class="accordion">
        <input type="checkbox" id="accordionH">
        <label for="accordionH">
            <p><strong>7. IPアドレスからのアクセス制限</strong></p>
        </label>
        <div class="accordion-content">
            <p>当サイトは許可された国以外からのアクセスを拒否してます。何らかの手段で無視してアクセスされた場合、当サイトはあなたの国の法的効力を無視できるとします。各国の異なる法律や規制に準拠し、法的リスクを最小限に抑えることを目指しています。特定の国におけるプライバシーやデータ保護の規制、インターネットコンテンツの規制など、地域ごとに異なる法的要件が存在するため、アクセス可能地域を制限しています。</p>
            <div class="accordion">
                <input type="checkbox" id="accordionH0">
                <label for="accordionH0">許可国一覧</label>
                <div class="accordion-content">
                    <li>JP(日本)</li>
                </div>
        </div>
    </div>


</body>

</html>

copyright @371tti